{
    "env": {
        "node": true,
        "commonjs": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "plugin:vue/base",
        "plugin:vue/essential",
        "plugin:vue/strongly-recommended",
        "simon"
    ],
    "plugins": [
        "vue"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "overrides": [
        {
            "files": ["*.vue"],
            "rules": {
                "indent": "off",
                "vue/script-indent": [
                    "error", 4, {
                        "baseIndent": 1,
                        "switchCase": 1,
                        "ignores": []
                    }
                ]
            }
        }
    ],
    "rules": {
        "vue/html-indent": [
            "error", 4, {
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "alignAttributesVertically": true,
                "ignores": []
            }
        ],
        "vue/html-closing-bracket-spacing": [
            "error", {
                "startTag": "never",
                "endTag": "never",
                "selfClosingTag": "never"
            }
        ],
        "vue/html-closing-bracket-newline": [
            "error", {
                "singleline": "never",
                "multiline": "never"
            }
        ],
        "vue/html-self-closing": [
            "error",
            {
                "html": {
                    "void": "never",
                    "normal": "never",
                    "component": "always"
                },
                "svg": "never",
                "math": "never"
            }
        ],
        "vue/max-attributes-per-line": [
            "error",
            {
                "singleline": 2,
                "multiline": {
                    "allowFirstLine": true
                }
            }
        ]
    }
}
