* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: $palette-cloud-blue;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button,
input,
textarea {
    border: unset;
    background: unset;
    color: unset;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    @include size(0.4em);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(white, 0.3);
}
