* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: unset;
    text-decoration: unset;
}


button,
input,
textarea {
    border: unset;
    background: unset;
    color: unset;
}
