$palette-theme-primary: #313848;
$palette-theme-secondary: #374051;
$palette-theme-tertiary: #282e3a;
$palette-sky-blue: #64bad3;
$palette-cloud-blue: #27a8ff;
$palette-turquoise: #0af6b4;
$palette-bright-red: #ec5b4a;
$palette-success-green: #69cc33;
$palette-nature-orange: #f69d03;
$palette-snow-white: #fafafa;
